<section class="admin protected container appScope" style="display:none;" v-show="true">
    <h1>Programacion</h1>

    <button @click="showForm=true" v-show="!showForm" class="btn">Nuevo evento</button>
    <button v-if="false" @click="sort" v-show="true" class="btn">Ordenar por fecha</button>

    <div class="form programacionForm" v-show="showForm">
        <label class="important">Nuevo evento</label>
        <label>Titulo *</label>
        <input v-model="form.title" placeholder="Ejemplo: Feria de los artesanos" />
        <label>Fecha desde*</label>
        <vuejs-datepicker v-model="form.fechaDesde" :format="dtp_format" :language="dtp_language"></vuejs-datepicker>
        <button class="btn mt-1" :disabled="!canAddEvent()" @click="addEvent()">Agregar</button>
    </div>
    <ul class="list">
        <li class="programationItem" v-for="evento in programacion" :key="evento.id" v-show="showProgramacion(evento)">
            <div class="programation_item form">

                <div class="grid8020">
                    <h2 class="programation_title" v-text="evento.title" v-show="!evento.showInfo"></h2>
                    <button class="btn" @click="showDetails(evento)" v-show="!evento.showInfo">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>

                <div class="bigDesktopSplitTwo" v-show="evento.showInfo">
                    <input class="eventoTitle semless bold" v-model="evento.title"></input>

                    <img class="img-fluid admin_programation__item_image"
                        :src="evento.image||'https://via.placeholder.com/150x150'" />

                    <div>

                        <div>
                            <html-editor v-model="evento.message"></html-editor>
                        </div>
                        <div class="blockChilds">
                            <label>Borrador?</label>
                            
                            <toggle v-model="evento.draft"/></toggle>
                        </div>
                        <div class="blockChilds">
                            <label>Imagen</label>
                            <input v-model="evento.image" />
                        </div>

                        <label>Fecha desde</label>
                        <vuejs-datepicker v-model="evento.fechaDesde" :format="dtp_format" :language="dtp_language">
                        </vuejs-datepicker>
                        <label>Fecha hasta</label>
                        <vuejs-datepicker v-model="evento.fechaHasta" :format="dtp_format" :language="dtp_language">
                        </vuejs-datepicker>

                        <div class="blockChilds">
                            <label>Hora desde</label>
                            <input type="time" v-model="evento.timeFrom" />

                        </div>
                        <div class="blockChilds">
                            <label>Hora hasta</label>
                            <input type="time" v-model="evento.timeTo" />
                        </div>
                    </div>
                    <br />
                    <button @click="saving || save(evento)" :disabled="saving" class="btn"
                        v-html="saving?'Guardando...':'Guardar'"></button>
                    <button @click="remove(evento.id)" class="btn danger">Borrar&nbsp;<i class="fas fa-trash-alt"></i></button>
                    <button class="btn" @click="evento.showInfo=!evento.showInfo"
                        v-show="evento.showInfo">Cerrar sin guardar</button>
                </div>
            </div>
        </li>
    </ul>
</section>
<script type="text/javascript">
    window.programacion = JSON.parse(`{{#stringify programacion}}{{/stringify}}`);
</script>