<section class="container">
    <article>
        <h2 class="desktopCentered">{{lang.CONTACTO}}</h2>
        <div class="desktopCentered">
            <form>
                <label>{{lang.NOMBRE_APELLIDO}}*</label>
                <input v-model="form.name" ref="name"/>
                <label>{{lang.EMAIL}}*</label>
                <input v-model="form.email" ref="email"/>
                <label>{{lang.TELEFONO}}</label>
                <input v-model="form.phone" ref="phone"/>
                <label>{{lang.MENSAJE}}</label>
                <textarea v-model="form.message" ref="message"></textarea>
                <button type="button" class="btn mobileCentered" :disabled="sending" @click="sending || send($event)" v-html="sending?'{{lang.ENVIAR}}...':'{{lang.ENVIAR}}'"></button>
            </form>
        </div>
        <div class="desktopCentered">
        	<p class="contactInfo">
                Mz. S Lot. 2 - Sector La Clake- Reque.<br>
                <a href="mailto:ecoaldeaeutopia@gmail.com">ecoaldeaeutopia@gmail.com</a><br>
                <a href="mailto:ecocentroeutopia@yahoo.es">ecocentroeutopia@yahoo.es</a><br>
                Tel: <a href="tel:+51966510895">+51966510895</a> / <a href="tel:+51922461042">+51922461042</a>.
            </p>
        </div>
        <img src="/img/mapa-ubicacion.webp" class="centeredVideo locationMap" style="transform: rotate(90deg);"/>
    </article>
</section>