<div class="blockChilds form developmentPage adminNav admin protected" style="display: none;">
<!--
    <div>
        <button class="btn" v-cloak v-if="true" @click="(loaders.deploy||isCooldown('deploy'))||deploy()" :disabled="loaders.deploy||isCooldown('deploy')" v-html="loaders.deploy?'Publicando...':'Publicar cambios'"></button>
        <p class="italic fnt-12" style="margin-top:5px" v-show="isCooldown('deploy')">
            Cambios publicados recientemente, espera un momento...
        </p>
    </div>
    
    
    <div>
        <button class="btn" v-cloak v-if="true" @click="loaders.wipMode||(isCooldown('wipMode'))||deployWipMode()" :disabled="loaders.wipMode||isCooldown('wipMode')" v-html="loaders.wipMode?'Procesando...':'Actualizar sitio con mensaje indicando que estamos trabajando en la pagina'"></button>
        <p class="italic fnt-12" style="margin-top:5px" v-show="isCooldown('wipMode')">
            Cambios publicados recientemente, espera un momento...
        </p>
    </div>
    <p class="fnt-12 italic">Al publicar, el sitio toma entre uno y dos minutos en actualizarse. Una vez pasado este tiempo tenemos que refrescar el navegador manualmente. Si los cambios no aparecen, intentar refrescar el navegador pulsando CTRL+R en reiteradas ocaciones.</p>
-->
    <div class="sidebarMenu">

        <a href="/admin/dashboard">
            <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>

        <a href="/" target="_blank">
            <i class="fas fa-eye"></i> Abrir sitio
        </a>

        <a href="/admin/programacion">
            <i class="fas fa-calendar-alt"></i> Programacion
        </a>
        <a href="/admin/voluntarios">
            <i class="fas fa-people-carry"></i> Voluntarios
        </a>
        <a href="/admin/formulario-de-contacto">
            <i class="fas fa-phone-volume"></i> Contactos
        </a>
        <a href="/admin/images">
            <i class="fas fa-images"></i> Imagenes
        </a>
        <a href="/admin/files">
            <i class="fas fa-file"></i> Archivos
        </a>
        <a href="/admin/pages">
            <i class="fas fa-book"></i> Paginas
        </a>
        <a href="/admin/partials">
            <i class="fas fa-boxes"></i> Vistas parciales
        </a>

        <a href="/admin/styles">
            <i class="fas fa-cookie-bite"></i> Estilos CSS
        </a>

        <a href="/admin/changelog">
            <i class="fas fa-clipboard-list"></i> Historial de cambios
        </a>
        <a href="/admin/faq">
            <i class="fas fa-book"></i> Documentacion
        </a>
        <a href="/admin/avanzado">
            <i class="fas fa-cogs"></i> Configuracion avanzada</a>
        <a @click="logout()" class="logout">

        Desconectarse</a>


        <p class="italic " style="margin:10px">
            <span>Pagina actualizada el <span v-html="deployedAt"></span></span>
        </p>

    </div>
</div>