<footer>
    <ul class="menu">
        <li><a href="{{#pagePath langPath lang.ABOUT_US}}{{/pagePath}}">{{lang.ABOUT_US}}</a></li>
        <li><a href="{{#pagePath langPath lang.CONTACTO}}{{/pagePath}}">{{lang.CONTACTO}}</a></li>
        <li><a href="{{#pagePath langPath lang.VOLUNTARIADO}}{{/pagePath}}">{{lang.VOLUNTARIADO}}</a></li>
        <li>
        	<a href="https://web.facebook.com/Eutopia-Ecoaldea-401715843328614/?_rdc=1&_rdr" target="_blank">
        		<i class="fab fa-facebook"></i>
        	</a>
        </li>
        <li>
        	<a href="http://instagram.com/eutopiaecoaldea" target="_blank">
        		<i class="fab fa-instagram"></i>
        	</a>
        </li>
    </ul>
</footer>