<section class="groupHeader" id="escuelas">
    <h2 class="desktopRight">{{lang.ESCUELAS}}</h2>
</section>
<div class="equalFlexBox groupBody">
    <article>
        <p class="photoQuote">{{lang.ESCUELAS_1}}
        </p>
        <a href="/uploads/files/propuesta-escuelas.pdf" target="_blank" class="pdf desktopRight">
                <i class="far fa-file-pdf"></i>
            </a>
    </article>
    <div class="mediumImage">
        <img src="/img/alumnos/1.png"/>
    </div>
</div>
    <section class="groupHeader" id="adultos">
        <h2 class="desktopLeft">{{lang.ADULTOS}}</h2>
    </section>
    <div class="equalFlexBox groupBody rowInverse">
        <article>
            <p class="photoQuote">{{lang.ADULTOS_1}}
            </p>
            <a href="/uploads/files/propuesta-adultos-mayores.pdf" target="_blank" class="pdf">
                <i class="far fa-file-pdf"></i>
            </a>
        </article>
        <div class="mediumImage">
            <img src="/img/grupos/2.jpg"/>
    </div>
        </div>
        <section class="groupHeader" id="familias">
            <h2 class="desktopRight">{{lang.FAMILIAS}}</h2>
        </section>
        <div class="equalFlexBox groupBody ">
            <article>
                <p class="photoQuote">
                    {{lang.FAMILIAS_1}}
                </p>
                <a href="/uploads/files/propuesta-familias.pdf" target="_blank" class="pdf desktopRight">
                <i class="far fa-file-pdf"></i>
            </a>
            </article>
            <div class="mediumImage">
                <img src="/img/grupos/3.png"/>
    </div>
            </div>
            <section class="groupHeader" id="profesionales">
                <h2 class="desktopLeft">{{lang.PROFESIONALES}}</h2>
            </section>
            <div class="equalFlexBox groupBody rowInverse">
                <article>
                    <p class="photoQuote">
                        {{lang.EMPRESAS_1}}
                    </p>
                    <a href="/uploads/files/propuesta-profesionales.pdf" target="_blank" class="pdf">
                <i class="far fa-file-pdf"></i>
            </a>
                </article>
                <div class="mediumImage">
                    <img src="/img/grupos/4.jpg"/>
    </div>
                </div>