<header>
    <a class="brand" href="/{{currentLanguageCode}}">
    {{lang.META_TITLE}}
    <img src="/img/logo.webp"/>
	</a>
    <nav class="headerNav">
        {{> partial_nav}}
    </nav>
</header>
<section>
    <div class="image-title centered"
            style="background-image:url(https://static.wixstatic.com/media/e8020c_9f32e3f33d284c99b541159458c7be48~mv2_d_1920_1280_s_2.jpg/v1/fill/w_699,h_466,al_c,q_90,usm_0.66_1.00_0.01/e8020c_9f32e3f33d284c99b541159458c7be48~mv2_d_1920_1280_s_2.webp);"
            >
        <h2>{{lang.HEADER_MESSAGE}}</h2>            
    </div>
</section>