{{#if (hasProgramations programacion)}}

<div class="programacion">
    <h2 class="programacion_titulo">
            Programacion
        </h2>
    <ul class="list">
        {{#each (filtrarEventosProgramacion programacion)}}
        <li>
            <p class="text-center programacion_date">
                {{#date fechaDesde 'DD-MM-YYYY HH:mm' 'dddd DD [de] MMMM YYYY'}}{{/date}} 
                {{#ifNotEmpty fechaHasta}}
                    al {{#date fechaHasta 'DD-MM-YYYY HH:mm' 'dddd DD [de] MMMM YYYY'}}{{/date}}
                {{/ifNotEmpty}}
                
            </p>
            <div class="programacion_item">
                <img src="{{image}}" class="inline-block img-fluid"/>
                <div class="inline-block vertical-top" style="width:69%;">
                    <div class="programacion_item_texto column">
                        <h3>{{title}}</h3>
                        <p>{{{message}}}</p>
                        {{#ifNotEmpty timeFrom}}
                        <p>
                            Horario: {{timeFrom}}
                            {{#ifNotEmpty timeTo}}
                                a {{timeTo}}
                            {{/ifNotEmpty}}
                        </p>
                        {{/ifNotEmpty}}
                    </div>
                </div>
            </div>            
        </li>
        {{/each}}
    </ul>
</div>

<script type="text/javascript">
    initImages();
    function initImages(){
        if(window.$ === undefined){
            return setTimeout(initImages,100);
        }
        if ($('.programacion_item_texto img').length > 0) {
            $('.programacion_item_texto img').each(function() {
                var img = $(this);
                var parent = img.parent()
                parent.empty();

                var a = $(`<a href="${img.attr('src')}" target="_blank"></a>`)
                a.append(img);
                parent.append(a);
            });
        }
                }
</script>

{{/if}}