<article>
    <p>
        Vivir la experiencia de la naturaleza
        Compartir Aprender Disfrutar
    </p>
    <p>
        Ven a disfrutar de nuestra aldea cada fin de semana !
    </p>
    <p>
        Nuestro eco-centro en la naturaleza está abierto cada fin de semana para brindarle un lugar recreativo y de relajación donde toda la familia encontrará su felicidad.
    </p>
    <p>
        Zona de juego, piscina, zona de descanso, biblioteca.
        Eco-restaurante con productos frescos y orgánicos cocinados en el momento.
        Talleres y actividades variadas para aprender a toda edad sobre las plantas, la cerámica, la pintura o también practicar la meditación, el yoga y el tai-chi !
        Visita explicativa de nuestro vivero, la huerta, el centro de tratamiento de los desechos.
        Escenario con música en vivo y otros espectaculos (ver programacion)
        Zona de camping
        Y mucho más !
    </p>
    <p>La entrada al parque es gratis. Los horarios de atencion al publico son del sábado al domingo, de las 9h a las 18h.</p>
</article>