@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
    /* background: url(https://subtlepatterns.com/patterns/stardust.png); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 17px;
}

body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

header {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 50px;
    border-bottom: 5px solid #dbe9e2;
}

.contactInfo a {
    color: teal;
}

.locationMap {
    transform: rotate(90deg);
    height: 100vw;
    max-height: 800px;
}

.languageMenuItem {
    display: none !important;
}

.imagesViewBox {
    max-height: 1000px;
    overflow: auto;
    background: wheat;
    margin-top: 20px;
}

.footerNav {
    display: block;
}

.headerNav {
    display: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

form>input,
form>textarea,
form>select,
.form input,
.form textarea,
.form select {
    border-radius: 5px;
    border: 1px solid lightskyblue;
}

form>label,
form>input,
form>textarea {
    min-width: -webkit-fill-available;
    display: block;
    /* border-radius: 5px; */
    /* border: 1px solid lightskyblue; */
}

form>textarea {
    min-height: 150px;
}

label.important {
    font-size: 30px;
    margin-top: 30px;
    display: block;
}

form>label {
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: left;
}

.eventItem {
    display: inline-block;
    width: -webkit-fill-available;
    padding: 20px;
    background-color: ghostwhite;
    margin-bottom: 15px;
}

.eventItem .eventoTitle {
    margin-bottom: 10px;
}

.parameters-component {
    margin-top: 20px;
}

form>button[disabled],
.btn[disabled] {
    opacity: 0.5;
}

.btn.danger {
    background-color: tomato;
    color: white;
}

.btn {
    margin-top: 10px;
    border: 0px;
    background-color: darkslateblue;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}


.centeredVideo {
    margin: 50px auto;
    display: block;
}

form>button:hover,
.btn:hover {
    opacity: 0.8;
}

form>button:hover,
form>button:focus,
form>button:active,
.btn:hover,
.btn:focus,
.btn:active {
    outline: 0;
    box-shadow: none;
}

.imageUrl {
    width: -webkit-fill-available;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: 0px;
}

.brand {
    font-size: 22px;
    color: #3ac826;
    font-family: monospace;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.groupHeader h1,
.groupHeader h2 {
    color: teal;
    text-align: center;
    width: -webkit-fill-available;
    font-size: 30px;
    margin: 0px;
}

.fnt-12 {
    font-size: 12px !important;
}

.fnt-10 {
    font-size: 10px !important;
}

.italic {
    font-style: italic !important;
}

.bold {
    font-weight: bold !important;
}


.developmentPage {
    padding: 20px 10px;
    /* background-color: papayawhip; */
}

.groupHeader {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0cfcf;
    padding: 20px;
    /* margin-bottom: 20px; */
}

.photoQuote {
    font-size: 16px;
    text-align: center;
    font-style: italic;
    padding: 0px 20px;
}

.volunteerItem {
    padding: 20px;
    background-color: sandybrown;
    color: white;
    font-size: 16px;
}

.programacionForm {
    max-width: 320px;
    padding: 20px;
}

.programacionForm>* {
    display: block;
}

.programationItem {
    padding: 20px;
    background-color: peachpuff;
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
}

.adminProgramacionItemImage {
    max-width: 100px;
    margin-bottom: 10px;
}

.sectionMainImage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    background-color: dimgrey;
    padding: 20px;
}

.sectionMainImage h2 {
    color: white;
    text-align: center;
}

.brand img {
    max-width: 28px;
    vertical-align: middle;
}

.subMenu {
    padding-bottom: 1;
    padding-left: 0px;
}

.subMenu a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.menu li .subMenu {
    display: none;
    background-color: white;
    padding-top: 10px;
}

.subMenu li {
    display: block;
    min-height: 30px;
    padding: 0px 20px;
}

.footerFlexMobileReverse {
    display: flex;
    flex-direction: column-reverse;
}

footer ul.menu>li.socialIcons>a:hover {
    color: black !important;
}

footer ul.menu>li.socialIcons:hover>a {
    color: #569b56;
}

ul.menu>li:hover>a {
    color: black;
}

.subMenu li:hover>a {
    background-color: green;
    color: white;
}

.menu li:hover .subMenu,
.subMenu:hover {
    display: block;
    left: 0px;
    z-index: 999999999;
}

textarea.text {
    min-width: 320px;
    text-align: left;
    width: -webkit-fill-available;
    min-height: 100px;
}

ul.menu {
    list-style: none;
    padding: 0px;
    padding-bottom: 15px;
    margin: 0px;
    margin-top: 20px;
}

ul.menu>li {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    width: 48%;
    vertical-align: top;
}

ul.menu>li>a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    font-family: sans-serif;
    margin: 0 auto;
    display: block;
    text-align: center;
}

hr {
    height: 5px;
    border: 0px;
    background: #dbe9e2;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 15px;
}

article {
    padding: 10px;
    display: ;
}

section .image-title {
    /* background-color: dimgrey; */
    margin: 0px;
    min-height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

a>i {
    min-width: 30px;
    margin: 0 auto;
    text-align: left;
}

section .image-title h2 {
    font-size: 32px;
    color: white;
}

.form .blockChilds {
    margin-bottom: 5px;
}

.blockChilds>* {
    display: block;
}

article h1,
article h2,
article h3,
article h4,
article h5 {
    color: teal;
}

article .text {
    font-size: 14px;
    color: grey;
}

footer ul.menu>li.socialIcons>a {
    display: inline-block;
    width: 25px;
}

footer ul.menu>li>a {
    font-size: 14px;
    color: #569b56;
    text-decoration: none;
    font-weight: bold;
}

section .title {
    background-color: darkkhaki;
    padding: 10px;
    margin: 0px;
    color: floralwhite;
}

.centered {
    text-align: center;
}

.icon-link {
    margin: 0 10px;
}

.icon-link img {
    max-width: -webkit-fill-available;
    he: 45px;
    display: inline;
}

.icon-link-text {
    display: inline-block;
    margin: 0px 10px;
    vertical-align: top;
    line-height: 45px;
    font-size: 20px;
}

.group_types a {
    color: lightseagreen;
}

.group_types a:hover {
    color: coral;
}

section.admin.protected {
    display: none;
}

section.admin {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.adminMenu a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: darkslateblue;
    margin-bottom: 10px;
    cursor: pointer;
}

a.logout {
    margin-top: 10px;
    color: indianred;
}

.admin_login {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.admin_login label {
    margin-bottom: 10px;
}


.admin_login>div {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
}

.admin_login>div>* {
    width: 100%;
}

.admin_login input {
    border: 0px;
    border-bottom: 2px solid grey;
}

.admin_login input:focus,
.admin_login input:active {
    outline: 0px;
    box-shadow: none;
}

.admin_login button {
    display: -webkit-box;
    margin-top: 15px;
    color: white;
    background-color: indigo;
    border: 0px;
    padding: 5px;
    cursor: pointer;
}

section.admin section {
    padding-bottom: 50px;
}

.adminImageItem {}

.2{
    background-color: dimgrey;
}
.admin-file-thumb {
    min-height: 50px;
    width: 300px;
    background-size: contain;
    background-repeat: repeat;
    margin: 0 auto;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-image-thumb {
    min-height: 155px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
}

footer {
    background-color: #a9f08280;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.mobileCentered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.equalFlexBox {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.column {
    flex-direction: column !important;
}

.equalFlexBox.top {
    align-items: flex-start;
}

.equalFlexBox>* {
    flex-basis: auto;
    text-align: center;
    display: block;
}


.groupBody {
    margin: 50px auto;
}

.mediumImage img {
    max-width: 100%;
}

.pdf {
    font-size: 40px;
    margin: 0;
    text-align: left;
    display: block;
    padding: 0 20px;
    color: green;
    text-decoration: none;
}


.text-center {
    text-align: center!important;
}

iframe {
    min-width: -webkit-fill-available;
}

.backBtn {
    margin-left: 5px;
}

@media only screen and (min-width: 480px) {
    .admin_login>div>* {
        width: initial;

    }

    .imageUrl {}

    .adminImageItem {
        display: inline-block;
        width: 44%;
        margin: 0px 20px;
        padding-bottom: 50px;
    }

    .admin-image-thumb {}
}

.incubadoraItineranteLogo {
    max-width: 100px !important;
    margin: 0 auto;
    display: block;
}

.iiLogoWrapper > p {
    color: darkblue;
    margin-bottom: 0px;
    position: absolute;
    width: 100px;
    background: white;
    margin-left: calc(50% - 50px);
}
@media only screen and (min-width: 992px) {
    .iiLogoWrapper {
        margin-left: 15px;
        flex-basis: 70%;

    }

    .iiLogoWrapper>p {
        position: absolute;
        background: white;
        color: midnightblue;
        width: 100px;
        opacity: 0.8;
        text-align: center;
        margin-left: 0px;
    }

    .text-lg-left {
        text-align: left;
    }

    .footerFlexMobileReverse {
        flex-direction: unset !important;
    }

    .incubadoraItineranteLogo {
        margin: 0;

    }

    .eventItem {}

    .adminProgramacionItemImage {
        margin: 0 auto;
        max-width: 150px;
        padding: 10px;
    }

    .desktopSplitTwo>div {
        flex-basis: 100%;
    }

    .desktopSplitTwo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
    }

    .imageUrl {}

    .adminImageItem {
        width: 30%;
    }

    .admin-image-thumb {}

    .photoQuote {
        font-size: 20px;
        text-align: justify;
    }


    iframe {
        min-width: 560px;
    }

    .aboutUsBox {
        max-width: 50%;
        margin: 0 auto;
        display: block;
    }

    .pdf {}

    html,
    body {
        font-size: 18px;
    }

    .rowInverse {
        flex-direction: row-reverse !important;
    }

    .equalFlexBox {
        flex-direction: row;
    }

    .equalFlexBox>* {
        flex-basis: 100%;
    }

    .desktopRight {
        text-align: right !important;
    }

    .desktopCenter {
        text-align: center !important;
    }

    .desktopLeft {
        text-align: left !important;
    }

    .desktopCentered {
        text-align: center;
    }

    .mobileCentered {
        display: initial;
    }

    .desktopCentered {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form>label,
    .form>label,
    form>input,
    .form>input,
    form>textarea,
    .form>textarea {
        min-width: 320px;
        text-align: left;
        width: -webkit-fill-available;
    }

    input.semless {
        border: 0px;
        border-bottom: 1px solid lightgray;
        margin-bottom: 5px;
    }





    .sectionMainImage {
        min-height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .introduction>div,
    .introduction>article {
        display: inline-block;
        vertical-align: top;
        width: 48%;
    }

    .languageMenuItem {
        display: inline-block !important;
    }

    .footerNav {
        display: none;
    }

    .headerNav {
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu li .subMenu {
        display: none;
    }

    .menu li:hover .subMenu {
        position: absolute;
        padding-top: 10px;
    }

    .icon-link-text {
        margin-top: 30px;
    }

    .subMenu li {
        text-align: left;
    }

    .icon-link img {
        width: 100px;
        height: 100px;
        display: inline;
        border-radius: 100px;
    }

    footer {
        height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 50px;
    }

    .mainContent {
        min-height: calc(100vh - 156px);
    }

    header {
        padding-top: 0px;
        height: 80px;
        display: flex;
        align-items: center;
    }

    nav {
        display: inline-block;
        width: 69%;
        vertical-align: top;
        height: 56px;
        padding-right: 0;
    }

    .brand {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        width: 30%;
        margin-top: 6px;
    }

    ul.menu {
        list-style: none;
        padding: 0px;
        /* padding-bottom: 15px; */
        margin: 0px;
        /* margin-top: 20px; */
        width: fit-content;
        display: block;
        float: right;
        /* min-width: 700px; */
    }

    ul.menu>li {
        display: inline-block;
        margin-bottom: 0;
        margin: 0px 20px;
        position: relative;
        width: unset;
    }

    ul.menu>li>a {
        font-size: 16px;
        text-decoration: none;
        font-family: sans-serif;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}

.list {
    list-style: none;
    padding: 0px;
}

.adminContactFormMessages{
    margin-left: 0px;
}
.adminContactFormMessages li{
    background: azure;
    padding: 5px;
    color: black;
}
.adminContactFormMessages li:nth-child(odd){
  background-color: antiquewhite;
  color: black;
}

.img-fluid {
    max-width: 100%;
}

.inline-block {
    display: inline-block;
}

.programacion_date {
    background-color: cadetblue;
    color: white;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: bold;
}

.programacion_item_texto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 100%;
}

.programacion_item {}

.programacion_item img {
    max-width: 30%;
    min-width: 30%;
}

.vertical-middle{
    vertical-align: middle;
}
.vertical-top {
    vertical-align: top;
}

.programacion_item h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.programacion_item p {
    margin-top: 5px;
}

.programacion {
    max-width: 800px;
    margin: 0 auto;
    min-height: 300px;
}

.programacion_titulo {
    text-align: center;
}

.mx-auto{
    display:block;
    margin-left:auto;
    margin-right:auto;
}